html,
body {
  margin: auto;
}

.room-container {
  position: relative;
}

.room-inner {
  margin: auto;
  display: block;
  position: absolute;
  left: 0; right: 0;
  width: 80%;
}

.room-inner > img {
  width: 100%;
}

.light {
  position: absolute;
  top: -5px; left: 35%;
  width: 30%;
  height: 12%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.lightswitch-div {
  position: absolute;
  top: 40%; left: 2.35%;
  width: 5%;
  height: 9%;
  background-size: 100%;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  top: 42.5%; left: 8.35%;
  padding: 4px;
  font-family: 'arial';
  border-radius: 2px;
  font-size: 11px;
}
